<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Seguros PY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-background" [fullscreen]="true">
  <div class="text-center">
    <h1>Control de Asegurados</h1>
  </div>
  <div class="div-contenido">
    <ion-item>
      <ion-input label="Nro Documento:" placeholder="" [(ngModel)]="nroDocumento" name="nroDocumento"></ion-input>
      <ion-button (click)="onClick()" >Buscar</ion-button>
    </ion-item>

  </div>
  <div class="div-contenido" *ngFor="let aseg of asegurado">
    <ion-item >
      <ion-label>Nombre: <p disabled>{{ aseg.nombre }}</p></ion-label>
    </ion-item>

    <ion-item >
      <ion-label>Plan: <p disabled>{{ aseg.plan_asegurado }}</p></ion-label>
    </ion-item>
  </div>
  <div>
    <ion-grid class="ion-margin">
      <ion-row>
        <ion-col class="header-col">Nro. Cuota</ion-col>
        <ion-col class="header-col">Monto</ion-col>
        <ion-col class="header-col">Fecha Vencimiento</ion-col>
      </ion-row>

      <ion-row *ngFor="let items of cuotasPendientes">
        <ion-col class="item-col">{{items.nro_cuota}}</ion-col>
        <ion-col class="item-col">{{items.monto_cuota}}</ion-col>
        <ion-col class="item-col">{{items.fecha_vencimiento}}</ion-col>
      </ion-row>
      
    </ion-grid>
    <ion-button class="ion-text-center" (click)="confirmarPago()" *ngIf="cuotasPendientes">Confirmar Pago</ion-button>
  </div>


</ion-content>
